body{
  margin: 0px;
  padding: 0px;
  background: #9ECAFF;
  font-size: 11px;
  font-family: Tahoma, Arial, Trebuchet, sans-serif;
  color: #024186;
  background-image: url(img/b_background.gif);
	background-repeat : repeat-y;
  background-position : left;
}

.page{

  position: absolute;
  left: 0px;
  top: 0px;
  height: 154px;
  width: 100%;
  background-image: url(img/a_background.gif);
	background-repeat : repeat-x;
  background-position : top;
}

.head{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 154px;
  width: 704px;
  background-image: url(img/a_1.gif);
	background-repeat : no-repeat;
}







.obsah{
    position: absolute;
    top: 160px;
    left: 300px;
}
