#admin {
    font-size: 11px;
}
#admin * {
    clear: both;
}
#admin input, #admin textarea, #admin select{
    border: 1px solid #edc;
    font-size: 11px;
    padding: 0px;
}
#admin .admin_edit_form input{
    width: 500px;
}
#admin .admin_edit_form textarea{
    width: 500px;
    height: 400px;
}

#admin input.submit{
    border: 1px solid #edc;
    font-size: 11px;
    background: #fdc;
    font-family: sanserif;
    width: 30px;
    padding: 0px;
}
#admin textarea{
    width: 100%;
}
#admin .form ul {
    margin: 0px;
    padding: 0px;
}
#admin .admin_edit_form{
    position: absolute;
    top: 40px;
    right: 200px;
    width: 700px;
    height: 800px;
    sbackground: #f5fff5;
    border: 1px solid #eee;
}
#admin .admin_edit_form .list_item{
    list-style-type: none;
    width: 700px;
    background: #e5ffe5;
    float: left;
}
#admin .admin_edit_form .list_item .label{
    clear: none;
    float: left;
    text-align: right;
    margin-right: 5px;
    font-style: italic;
    width: 100px;
}
#admin .admin_edit_form .list_item .value{
    clear: none;
    float: left;
}
#admin .children{
    margin: 10px;
    border: 1px solid #eee;
    right: 0px;
    bottom: 0px;
    background: #e5ffe5;
}
#admin .children li{
    margin: 0px;
    padding: 0px;
    margin-left: 8px;
}
#admin .children ul{
    margin: 1px;
    padding: 0px;
    margin-left: 8px;
}


#admin #saved{
    position: fixed;
    _position: absolute;
    color: red;
    font-weight: 900;
    bottom: 5px;
    right: 5px;
}
#admin #logout{
    position: fixed;
    _position: absolute;
    color: blue;
    font-weight: 900;
    top: 5px;
    right: 5px;
}

#admin .menu li{
    margin: 0px;
    padding: 0px;
    margin-left: 8px;
}
#admin .menu ul{
    margin: 0px;
    padding: 0px;
}

#admin .admin_choose_node_form .select{
	width: 300px;
	height: 30em;
	overflow: auto;
	list-style-type: none;
	padding: 1px;
	margin: 0px;
	border: 1px solid #edc;
}
#admin .admin_choose_node_form .select li{
	margin-top: 2px;
	width: 90%;
}
#admin .admin_choose_node_form .select label{
	display: block;
	width: 100%;
	background: #fffff5;
	border: 1px solid #edc;
	height: 1.3em;
}
#admin .admin_choose_node_form .select input{
	padding: 0px;
	margin: 0px;
	background: #fffff5;
	border: 1px solid #edc;
	height: 1.2em;
}






